*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.text{
    margin:15px 500px 50px 500px;
    padding: 3px;
    color: white;
    background-color:#121212;
    text-align: center;
    line-height: 30px;
    width: 32.5rem;
}

.input{
    background-color: #3F6A94;
    color: white;
    margin: -49px 500px 50px 500px;
    height: 8rem;
    width: 32.5rem;
}

#en{
    font-size: 10px;
    padding: 7px 0 0 5px;
}

.choice{
    font-size: 15px;
    padding: 25px 0 0 45px;
}

#output1{
    position: relative;
    top:-66px;
    left: 30rem;
    font-size: 24px;
}

#output2{
    position: relative;
    top:-3rem;
    left: 30rem;
    font-size: 25px;
}

.btn1_key{
    padding: 10px;
    position: relative;
    left: 31.5rem;
    top: -50px;
    background-color: #21364B;
    width: 8.2rem;
    margin-left: -5px;
    cursor:grab;
    color: white;
}

.btnKeys{
    padding:25px;
    position: relative;
    left: 31.5rem;
    top: -50px;
    background-color: #3A3F45;
    width: 8.2rem;
    margin-left: -5px;
    cursor:grab;
    color: white;
}

.multi{
    padding-bottom: 9px;
}

.col{
    background-color: #5F6A70;
}

.col1{
    background-color: #393E3F;
}

.col2{
    background-color: #D32F2E;
}

.side{
    background-color: #3A3F45;
}

footer{
    background-color:#121212;
    margin:-50px 500px 50px 500px;
    height: 50px;
    width: 32.5rem;

}